.stats-page {
  padding: 0 7%;

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .breadcrumbs {
    padding: 30px 0;

    .breadcrumb {
      color: var(--light);

      &--selected {
        color: var(--blue);
      }
    }
  }

  .heading {
    color: var(--dark);
    margin-bottom: 30px;
  }

  .scrollbox {
    overflow-x: auto;
  }

  .pagination-box {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
