.card {
  border-radius: 32px;
  background-color: #fff;

  &--price {
    border: 2px solid #f1f1f1;
    padding: 10% 15%;

    &:hover {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
      .card--price-price {
        color: var(--blue);
      }
    }

    &-title {
      color: var(--dark);
      font-weight: bold;
    }
    &-img,
    &-price,
    &-text,
    .button {
      margin-top: 30px;
    }
    &-img {
      max-width: 100%;
    }
    &-price {
      color: var(--dark);
      font-weight: bold;
    }
    &-text {
      color: var(--gray);
    }
  }
}
